* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #384e7c;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-image: linear-gradient(236deg, #25bfa3, #7ed0bc, #b9e1d6, #f0f0f0)
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}